.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 80vh;
  background-color: #1a1a1a;
  color: white;
}

h1{
    color: white;
}

.profile-card {
  background-color: #2a2a2a;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.profile-info p {
  margin: 0.5rem 0;
  color: white;
}
